form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell;}
input { display: table-cell; margin-left: 10pt; margin-bottom: 5pt;}
button {margin-left: 10pt;}
li {margin-bottom: 5pt;}